@{
    ViewBag.Title = "search";
    Layout = "~/Views/Shared/loggedIn.cshtml";
}
@using musicBox.Models;

@if(ViewBag.count==0)
{
    <div class="container" style="padding-top:5em; padding-left:18em">
       <h1 >No Song Found</h1>
        </div>
}
else
{ 
<div class="container" style="padding-top:5em; padding-left:18em">
    <h1 >Search Result</h1>
    @foreach (Song s in Model)
    {
        <div class="col-md-6">
            <div class="form-group">
                <div class="thumbnail" style="max-width:200px;max-height:250px;">
                    <a href="@Url.Content(s.image)" class="fancybox"><img src="@Url.Content(s.image)" /> @s.Name</a>
                </div>
                <div style="padding-top:1em">
                    <audio controls="controls" id="@s.Name" style="width:200px" onplay="EvalSound(@s.Id)">
                        <source src="@Url.Content(s.path)" type="audio/mpeg">
                    </audio>
                </div>
            </div>

            <div style="width:75%; height:auto;display:flexbox;background-color:rgba(129, 77, 29, 0.35)">
                @foreach (Comment c in s.Comments)
                {
                    <p style="padding-left:2em;font-weight:bold" id="com">@c.User.Name : @c.Comment1 </p>

                }
            </div>
        </div>
    }

</div>
}
